body {
  margin: auto;
  font-family: Arial;
  font-size: 16px;
  background-image: url('background.jpg');
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formbox {
  width: 320px;
  height: 430px;
  overflow: hidden;
  background: linear-gradient(green, white);
  border: solid black 3px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #212119;
}

.formbox h4 {
  font-size: 1.5em;
  text-align: center;

}

.formbox p {
  font-weight: bold;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  height: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button-row p {
  margin: inherit;
}

.buttons {
  width: 100%;
}

.submit-button {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

.submit-button input  {
  margin: auto;
  background: #3cc956;
  background-image: -webkit-linear-gradient(top, #3cc956, #15802f);
  background-image: -moz-linear-gradient(top, #3cc956, #15802f);
  background-image: -ms-linear-gradient(top, #3cc956, #15802f);
  background-image: -o-linear-gradient(top, #3cc956, #15802f);
  background-image: linear-gradient(to bottom, #3cc956, #15802f);
  border-radius: 20px;
  box-shadow: 0px 3px 3px #212119;
  color: #000000;
  font-size: 1.25em;
  padding: 15px 25px 15px 25px;
  border: solid #0b6e27 0px;
  text-decoration: none;
}

.submit-button input:hover {
  background: #9fcc4b;
  background-image: -webkit-linear-gradient(top, #9fcc4b, #81bd53);
  background-image: -moz-linear-gradient(top, #9fcc4b, #81bd53);
  background-image: -ms-linear-gradient(top, #9fcc4b, #81bd53);
  background-image: -o-linear-gradient(top, #9fcc4b, #81bd53);
  background-image: linear-gradient(to bottom, #9fcc4b, #81bd53);
  text-decoration: none;
}
